.daniel-clifford {
    box-sizing: var(--box-sizing);
    width: var(--width-90per);
    height: var(--height-auto);
    background-color: var(--purple-500);
    padding: var(--default-cart-padding);
    border-radius: var(--cart-border-radius);
    color: var(--grey-200);
    box-shadow: var(--shadow);
}

.daniel-clifford_header {
    width: var(--width-100per);
    height: 10%;
    display: var(--display-flex);
    justify-content: var(--justify-content-start);
    align-items: var(var(--align-items));
}

.daniel-clifford__header--photo {
    height: var(--height-100per);
    aspect-ratio: 1 / 1;
    display: var(--display-flex);
    align-items: var(--align-items);
    justify-content: var(--justify-content);

    img {
    width: var(--photo-width);
    object-fit: var(--object-fit);
    border-radius: var(--photo-border-radius);
    border: 2px solid hsl(264, 82%, 80%);
    }
        
}

.daniel-clifford__header--name {
    display: var(--display-inline-block);
    width: var(--width-100per);
    margin-left: var(--margin-left-6per);
    
    p{
        display: var(--display-block);
        margin: var(--margin-0);
        height: var(--height-50per);
    }
}

.daniel-clifford__description {
    display: var(--display-inline-block);
    margin-top: var(--margin-top-7per);
    p {
        color: var(--grey-100);
        font-size: var(--font-size-20);
        margin-top: var(--margin-0);
        font-weight: 500;
    }
}

.daniel-clifford__main-text {
       display: var(--display-inline-block);
    p{
        margin-top: var(--margin-0);
    }
}