.jonathan-walters {
    box-sizing: var(--box-sizing);
    background-color: var(--grey-500);
    border-radius: var(--cart-border-radius);
    width: var(--width-90per);
    height: var(--height-auto);
    margin-top: var(--margin-top-4vh);
    padding: var(--default-cart-padding);
    color: var(--white);
    box-shadow: var(--shadow);
}

.jonathan-walters__header {
    width: var(--width-100per);
    display: var(--display-flex);
    justify-content: var(--justify-content-start);
    align-items: var(--align-items);
}

.jonathan-walters__header--photo {
    height: var(--height-100per);
    aspect-ratio: 1 / 1;
    display: var(--display-flex);
    align-items: var(--align-items);
    justify-content: var(--justify-content);

    img {
    width: var(--photo-width);
    object-fit: var(--object-fit);
    border-radius: var(--photo-border-radius);
    }
}

.jonathan-walters__name {
    display: var(--display-inline-block);
    width: var(--width-100per);
    margin-left: var(--margin-left-6per);

    p{
        display: var(--display-block);
        margin: var(--margin-0);
        height: var(--height-50per);
    }

    p:last-child{
        color: var(--grey-200);
    }
}

.jonathan-walters__description {
    display: var(--display-inline-block);
    margin-top: var(--margin-top-7per);
    p {
        font-size: var(--font-size-21);
        margin-top: var(--margin-0);
        font-weight: 500;
    }
}

.jonathan-walters__main-text {
    display: var(--display-inline-block);
    p{
        margin-top: var(--margin-0);
        color: var(--grey-200);
    }
}
